version: "3.8"

services:
  backend:
    build: ./Backend
    container_name: procurementbackend
    hostname: backend
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: postgres://postgres:rekaciptainovasi@db:5432/Backend
      JWT_SECRET: your_secret_key_here
      JWT_REFRESH_SECRET: refresh_secret_key
    depends_on:
      db:
        condition: service_healthy
    networks:
      - procurement-net

  employeebackend:
    build: ./backendHR
    container_name: employeebackend
    hostname: employeebackend
    ports:
      - "4000:4000"
    environment:
      DATABASE_URL: postgres://postgres:rekaciptainovasi@employee-db:5432/humanresource?schema=public
      PORT: 4000
    depends_on:
      employee-db:
        condition: service_healthy
    networks:
      - procurement-net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: procurementfrontend
    restart: unless-stopped
    ports:
      - "3001:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    environment:
      NEXT_PUBLIC_API_URL: http://backend:5000  # internal call
    depends_on:
      - backend
    networks:
      - procurement-net

  employee-frontend:
    build:
      context: ./human-resource
      dockerfile: Dockerfile
    container_name: employeefrontend
    restart: unless-stopped
    ports:
      - "3002:3000"
    volumes:
      - ./human-resource:/src
      - /app/node_modules
      - /app/.next
    environment:
      NEXT_PUBLIC_API_URL: http://employeebackend:4000  # internal call
    depends_on:
      - employeebackend
    networks:
      - procurement-net

  db:
    image: postgres:15
    container_name: postgresdb
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: rekaciptainovasi
      POSTGRES_DB: Backend
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - procurement-net

  employee-db:
    image: postgres:15
    container_name: employeedb
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: rekaciptainovasi
      POSTGRES_DB: humanresource
    ports:
      - "5433:5432"
    volumes:
      - employee_postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - procurement-net

  nginx:
    image: nginx:latest
    container_name: procurementnginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - frontend
      - backend
      - employeebackend
      - employee-frontend
    networks:
      - procurement-net

volumes:
  postgres_data:
  employee_postgres_data:

networks:
  procurement-net:
