@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media print {
  @page {
    size: A4;
    margin: 10mm;
  }

  header, footer {
    display: none !important;
  }

  th {
    background-color: #0d6efd !important; 
    color: white !important; 
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .status-column,
  .status-header {
    display: none !important;
  }

  .keterangan-column {
    text-align: center;
    position: relative !important;
  }

  .no-print,
  .sidebar {
    display: none !important;
  }

  body *:not(.print-area) {
    visibility: hidden;
    -webkit-print-color-adjust: exact;
  }

  div {
    color: black !important;
  }

  header, footer, nav {
    display: none !important;
  }

  .remove-on-print,
  header,
  footer,
  nav,
  [class*="print-hide"],
  .next-app-header,
  .browser-header,
  .browser-footer {
    display: none !important;
  }

  #permintaan-lapangan,
  #permintaan-lapangan * {
    visibility: visible;
  }

  #permintaan-lapangan {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  #confirmation-order,
  #confirmation-order * {
    visibility: visible;
  }

  #confirmation-order {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  #purchase-order,
  #purchase-order * {
    visibility: visible;
  }

  #purchase-order {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }


  .print-area, .print-area * {
    visibility: visible;
  }

  .print-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  body {
    visibility: hidden;
    -webkit-print-color-adjust: exact;
  }

  #purchase-order {
    position: auto;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.pdf-format {
  font-size: 12px; 
  width: 100%;
  padding: 10px;
}

.pdf-format table {
  width: 100%;
}

.pdf-format th, 
.pdf-format td {
  padding: 10px 12px;
  text-align: auto;
}

.pdf-format .header {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 12px;
}

.pdf-format .signature-box {
  height: 60px; 
  text-align: center;
  vertical-align: bottom;
}

.pdf-format .signature-table td {
  text-align: center;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 10px; 
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
  .status-column,
  .status-header {
    display: none !important;
  }
}


.keterangan-column {
  text-align: center;
  position: relative !important;
}
